@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5 mb-7">
    <h2 class="text-center">Contacte-nos</h2>
    <p class="text-center">Se tiver alguma questão ou quiser contactar algum dos desenvolvedores, contacte:</p>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6 p-4" style="background: rgba(255, 255, 255, 0.8); border-radius: 10px; backdrop-filter: blur(10px);">
            <h4>Francisco Abreu</h4>
            <p>Email: <a href="mailto:f.abreu@ipvc.pt">f.abreu@ipvc.pt</a></p>
            <h4>Guilherme Ramos</h4>
            <p>Email: <a href="mailto:guilhermeramos@ipvc.pt">guilhermeramos@ipvc.pt</a></p>
            <h4>Duarte Leal</h4>
            <p>Email: <a href="mailto:duarteleal@ipvc.pt">duarteleal@ipvc.pt</a></p>
            <h4>Filipa Calheiros</h4>
            <p>Email: <a href="mailto:filipacalheiros@ipvc.pt">filipacalheiros@ipvc.pt</a></p>
        </div>
    </div>
</div>