@{
    ViewData["Title"] = "Área Pessoal";
}

<div class="text-center page-title-style" >
    <h1 class="display-4">Seja bem vindo à WorkLink!</h1>
    <p class="lead">Esta é a tua área pessoal após login.</p>

    
</div>