@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center page-title-style" >
    <h1 class="display-4">Seja bem vindo à WorkLink!</h1>
    <p>Aqui podes criar projetos, montar a tua equipa e muito mais!</p>
    <a href="/Projects/Create" class="btn custom-login-btn btn-lg m-2">Criar Projeto</a>
    <a href="/Teams" class="btn btn-secondary btn-lg m-2">Ver Equipas</a>
</div>

<div class="container mt-5 mb-7">
    <h2 class="text-center">Funcionalidades</h2>
    <div class="row mt-5">
        <div class="col-md-4 resource-box">
            <h3>Gestão de Projetos</h3>
            <p>Crie e gerencie os seus projetos de forma eficiente.</p>
        </div>
        <div class="col-md-4 resource-box">
            <h3>Montagem de Equipas</h3>
            <p>Encontre e colabore com os melhores profissionais.</p>
        </div>
        <div class="col-md-4 resource-box">
            <h3>Comunicação</h3>
            <p>Comunique-se facilmente com sua equipa.</p>
        </div>
    </div>
</div>