@{
    ViewData["Title"] = "AsMinhasEquipas";
}
<div class="text page-title-style">
    <h3 class="display-4" >As Minhas Equipas</h3>
    <p>Cria as tuas equipas para um melhor desenvolvimento de trabalhos</p>
</div>