@{
    ViewData["Title"] = "Área Pessoal";
}

<link href="/css/index.css" rel="stylesheet" />


<div class="text-center page-title-style mt-5">
    <h1 class="display-4 titulo-epico">Seja bem vindo à WorkLink!</h1>
    <p class="subtexto-epico">Esta é a tua área pessoal após login.</p>
</div>

